<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GoShort: an URL shortener built to learn some Go</title>
    <meta content="GoShort is an URL shortener web service" name='description' />
    <meta content="url, shortener, web, service"  name='keywords' />
    <meta content='Andrea Pavoni' name='author' />
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css//skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">
  </head>
  <body>
<a href="https://github.com/apeacox/goshort"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

	<div class="container">
		<div class="sixteen columns">
      <h1 class="remove-bottom" style="margin-top: 40px">GoShort</h1>
      <h6>an URL shortener built with <a href="http://golang.org">Go</a> and <a href="http://redis.io">Redis</a></h6>
		</div>
    <hr>
      <p class="ten columns">
      <!-- {{ if . }}-->
        {{ .Text }}
      <!-- {{ end }}-->
      </p>
		<div class="sixteen columns">
      <form action='/' method='POST' class="container">
        <input type='text', name='url' size='150' class="ten columns">
        <input id='submit' type='submit' value='Short it!' />
      </form>
		</div>
    <hr>
    <p>build with &hearts; by <a href="http://andreapavoni.com">Andrea Pavoni</a></p>
	</div><!-- container -->



  </body>
</html>
